APP.PORT=:8080
DATASTORE.DATABASE.POSTGRES.DBNAME="sample_db"
DATASTORE.DATABASE.POSTGRES.HOST=127.0.0.1
DATASTORE.DATABASE.POSTGRES.MAX_CONNECTION=20
DATASTORE.DATABASE.POSTGRES.MAX_IDLE_CONNECTION=5
DATASTORE.DATABASE.POSTGRES.PASSWORD="sample_password"
DATASTORE.DATABASE.POSTGRES.PORT=5432
DATASTORE.DATABASE.POSTGRES.SSLMODE=disable
DATASTORE.DATABASE.POSTGRES.USER="sample_user"
DATASTORE.DATABASE.POSTGRES.TIMEOUT="+5s"